doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title hwang
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        link(rel="stylesheet", href="/css/style.css")
        block head
    body 
        header
            h1 
                a(href="/") hwang
        main 
            h2 Welcome to hwang's server
            a(href="/user/signup" style="margin-right:10px;") signup
            a(href="/user/login") login
            block content
           
